body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100%;
    background: url("/assets/image/espace2.jpg") no-repeat center center fixed;
    background-size: cover;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 200px;
    max-width: 200px;
    background-color: #061123;
    color: white;

    padding: 10px;
}
.sidebar-button {
    background: linear-gradient(90deg, #061123, #0B1B66, #061123);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}
.sidebar-button:hover {
    background: linear-gradient(90deg, #061123, #0B1B66, #0B1B66, #061123);
}

.url-match {
    background: #0B1B66 none;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}
.sidebar-footer {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #0B1B66;
    padding: 10px;
    border-radius: 10px;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 10px;
    overflow-y: auto;
}

.h1-title {
    border-bottom: 2px solid #0B1B66; /* Add this line */
}

.h2-title {
    border-bottom: 2px solid aliceblue; /* Add this line */
}

.column-left {
    float: left;
    width: 50%;
}

.column-right {
    float: right;
    width: 50%;
    height: 70%;
    overflow-y: scroll;
}
#platformChart {
    width: 85%;  /* Adjust as needed */
    height: 85%; /* Adjust as needed */
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    border: none;
    justify-content: center;
    align-items: center;

}

.fa-circle-xmark{
    display: flex;
    justify-content: right;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    right: 10px;
    float: right;
}

.fa-circle-xmark:hover{
    cursor: pointer;
    color: red;
}

.fa-pencil{
    border: none;
    justify-content: right;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: transparent;
}

.fa-pencil:hover{
    cursor: pointer;
    color: green;
}

.fa-trash-can{
    border: none;
    justify-content: right;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: transparent;
}

.fa-trash-can:hover{
    cursor: pointer;
    color: red;
}

.selector{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0B1B66; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    border-radius: 10px; /* Coins arrondis */
    padding: 10px; /* Espacement intérieur */
}

.selector:hover{
    cursor: pointer;
}

.btn {
    font-size: 16px;
    text-align: center;
    background-color: #0B1B66;
    padding: 10px;
    border-radius: 10px;
    color : white;
    border: none;
}

.btn:hover {
    background-color: #122b9d;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de largeur égale */
    grid-template-rows: repeat(2, 1fr); /* 2 lignes de hauteur égale */
    gap: 30px; /* Espacement entre les cellules de la grille */
    margin-right: 20px;
    margin-bottom: 40px;
}

.block {
    font-size: 16px;
    background-color: #122b9d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


table {
    width: 100%;
    border-collapse: collapse; /* S'assurer que les bordures ne se chevauchent pas */
}
th, td {
    padding: 8px;
    text-align: left;
}

.question-row {
    padding: 10px;
}

.question-row:hover {
    background-color: rgba(18, 43, 157, 0.50);
}

#filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}