body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100%;
    background: url("/Assets/Image/espace2.jpg") no-repeat center center fixed;
    background-size: cover;
}
.sidebar {
    width: 200px;
    background-color: #061123;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1B66; /* Change the background color */
    color: white; /* Change the text color */
    border-radius: 10px; /* Add rounded corners */

}
.sidebar-button {
    background: linear-gradient(90deg, #061123, #0B1B66, #061123);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px; /* Add margin-top for spacing */
    cursor: pointer;
    text-align: center;
    border-radius: 10px; /* Add rounded corners */

}
.sidebar-button.url-match:hover {
    background-color: #0B1B66; /* Color when active */
    border-radius: 10px; /* Add rounded corners */
}
.sidebar-button:hover {
    background-color: #333;
}
.sidebar-footer {
    font-size: 14px;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 10px;
    overflow-y: auto;
}
label, input {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0B1B66;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #333;
}
h1 {
    border-bottom: 2px solid #0B1B66; /* Changez la couleur et l'épaisseur de la bordure selon vos préférences */
}