<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige toutes les requêtes vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>

<FilesMatch "\.(wasm|br|framework|data)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>

Header set Access-Control-Allow-Origin "https://jeupedagogique.pq.lu"